/* Base styles for navigation links */
.nav-link {
  display: flex;
  align-items: center;
  gap: 8%;
  font-size: 20px;
  cursor: pointer;
  padding: 5%;
  border-bottom: 0.5px solid #d4ebf8;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  background-color: #1f509a;
  width: 100%;
}

/* Media Queries for larger screens */
@media screen and (min-width: 768px) {
  .nav-link {
    display: block; /* Show links in a block format */
  }
}
